<header>
	<div class="container px-8 py-8 mx-auto">
		<div class="flex justify-between ">
			<ul class="flex space-x-10 text-white">
				<li>
					lightpaper
				</li>
				<li>
					FAQ
				</li>
				<li>
					How to play
				</li>
			</ul>
			<button class=" w-[209px] bg-white py-3 ">
				join the community
			</button>
		</div>
	</div>
</header>
