<section>
	<div class="container px-8 py-8 mx-auto">
		<div class="flex flex-col justify-center">
			<div class="">
				<span class="font-semibold text-start text-[32px] leading-[48px] opacity-70 text-white">/ MAD METASCIENCIST MINT</span>
			</div>
			<h1 class="text-[120px] font-black  leading-[110px]  text-white">NFTS HAVE <br> EVOLVED</h1>
		</div>
	</div>
</section>
